@charset "UTF-8";
@import url(font.css);
@import url(reset.css);

body { overflow: hidden;}

header {height: 100px; position: absolute; width: 100%; transition: 0.4s; z-index: 5;}
header .container {width: 1400px; margin: 0 auto; justify-content: space-between; display: flex; align-items: center; height: 100%;}
header h1 {width: 100px; transition: 0.4s;}
header h1 img {width: 100%; height: 100%; display: flex; align-items: center;}
header nav {}
header nav .gnb {display: flex;}
header nav .gnb li {font-size: 20px; font-family: 'DnfTemperedBlade'; text-shadow: 2px 2px 4px #000000d7;}
header nav .gnb li a {padding: 20px 60px; display: block; color: #fff;}
header audio {width: 100px; background: #eee; height: 40px; border-radius: 30px; transition: 0.4s;}

header:hover {height: 130px;  backdrop-filter: blur(5px);}
header:hover audio {width: 300px;}

.textbox {position: absolute; left: 250px; display: flex; flex-direction: row-reverse; top: 180px; z-index: 4;}

.textbox li {font-size: 55px; color: #fff; width: 80px; line-height: 60px; font-family: 'HsBombaram20'; text-shadow: 2px 2px 4px rgba(230, 67, 3, 0.87);}
.textbox li span {display: block; height: 60px; animation: worldAni 3s forwards; position: relative;}
.textbox li span.mb40 {margin-bottom: 40px;}

@keyframes worldAni {
    0% {top: -150px; opacity: 0; filter: blur(10px);}
    100% {top: 0; opacity: 1;}
}

.textbox li:nth-child(2) span:nth-child(1) {animation-delay: 0;}
.textbox li:nth-child(2) span:nth-child(2) {animation-delay: 0.1s;}
.textbox li:nth-child(2) span:nth-child(3) {animation-delay: 0.2s;}
.textbox li:nth-child(2) span:nth-child(4) {animation-delay: 0.3s;}
.textbox li:nth-child(2) span:nth-child(5) {animation-delay: 0.4s;}
.textbox li:nth-child(2) span:nth-child(6) {animation-delay: 0.5s;}
.textbox li:nth-child(2) span:nth-child(7) {animation-delay: 0.6s;}

.textbox li:nth-child(1) span:nth-child(1) {animation-delay: 0.7s;}
.textbox li:nth-child(1) span:nth-child(2) {animation-delay: 0.8s;}
.textbox li:nth-child(1) span:nth-child(3) {animation-delay: 0.9s;}
.textbox li:nth-child(1) span:nth-child(4) {animation-delay: 1s;}
.textbox li:nth-child(1) span:nth-child(5) {animation-delay: 1.1s;}
.textbox li:nth-child(1) span:nth-child(6) {animation-delay: 1.2s;}
.textbox li:nth-child(1) span:nth-child(7) {animation-delay: 1.3s;}
.textbox li:nth-child(1) span:nth-child(8) {animation-delay: 1.4s;}
.textbox li:nth-child(1) span:nth-child(9) {animation-delay: 1.5s;}
.textbox li:nth-child(1) span:nth-child(10) {animation-delay: 1.6s;}

.bgmain {background: url(../images/background.png) no-repeat; background-size: cover; height: 100vh; animation: bgmain 20s;}
@keyframes bgmain {
    0% {transform: scale(1.2);}
    100% {transform: scale(1);}
}

.snow {height: 100vh; background: url(../images/snow.png); position: absolute; z-index: 1; animation: snow1 7s infinite linear; width: 100%; left: 0; top: 0; background-size: 30%; filter: blur(1px);}
@keyframes snow1 {
    0% {background-position: 0 0;}
    100% {background-position: 0px 500px;}
}
.snow2 {animation: snow2 10s infinite linear; background-size: 20%; filter: blur(1px);}
@keyframes snow2 {
    0% {background-position: 0 0;}
    100% {background-position: 200px 500px;}
}
